[flake8]
import-order-style = google
inline-quotes = "
application-import-names = N1_Prompts, promptAPI, carts, chataiAPI, users, payments
exclude = ./venv/, ./.venv/, */migrations/*
max-line-length = 120
ignore = E203, W503, I202, I100, C901, T201, N818, E800
max-complexity = 10
